<%= form_for @question, :html => {:class => "form-horizontal center", id: "actionbar"} do |f| %>
  <!-- <div class="col-md-5"> -->
    <%= f.text_field :body, class: "form-control", :placeholder => "A 140 character question. Brevity is the soul of wit." %>
    <%= f.submit "Ask", class: "btn btn-default" %>
    <% end %>
  <!-- </div> -->
