<div class="container">
  <div class="row">
      <div class="col-md-9">
      <%= form_for @question, :html => {:class => "actionbar form-horizontal"} do |f| %>
      <%= f.text_field :body, class: "form-control", id: "post", :placeholder => "A 140 character question. Brevity is the soul of wit."%>
    </div>
    <div class="col-md-2">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-default navbar-btn'  %>
    </div>
<% end %>
</div>

</div>
