/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
$first-color: #f58120;
$second-color: #ffffff;
$third-color: #323a4a;
$fourth-color: #4b5568;
$fith-color: #ff9d4c;
#wrapper {
  background-color: $first-color;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
body {
  font-weight: normal;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 980px;
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
  background-color: $third-color;
  color: $third-color;
  a:link,
  a:active,
  a:visited {
    font-size: 1.5em;
    color: $third-color;
  }
  #question_body {
    width: 935px;
  }
  h4 {
    color: $second-color;
  }
  .navbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $second-color;
    border-bottom: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    max-height: 50px;
    .brand {
      height: 15px;
      img {
        height: 40px;
        margin-top: -.35em;
      }
    }
    #post {
      text-align: left;
      margin-top: 5px;
      font-size: 28px;
      height: 40px;
      max-width: 98%;
      min-width: 80%;
    }
    .navbar-btn {
      height: 40px;
      font-size: 1em;
      margin-top: 5px;
      color: $third-color;
      position: absolute;
    }
  }
  #title {
    color: $second-color;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1em;
  }
  #subtitle {
    color: $second-color;
    margin-top: 0em;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 4em;
  }
  .content {
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: -1.5em;
    #recentQuestions {
      background-color: $fith-color;
    }
    #notice {
      font-size: 1.5em;
      color: $fourth-color;
    }
    .greeting {
      font-size: 1.25em;
      text-align: right;
      margin-bottom: 1em;
      margin-top: .5em;
    }
    #viewquestion {
      color: $fourth-color;
    }
    #fields {
      #remember {
        vertical-align: middle;
        font-size: 0.7em;
        .rememberlabel {
          color: $second-color;
        }
      }
      input {
        background-color: $second-color;
        margin-bottom: 1em;
      }
      label {
        font-size: 2em;
        font-weight: normal;
      }
      h2 {
        font-size: 3em;
        color: $second-color;
        margin-top: 0.5em;
      }
      .button {
        font-size: 1.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
    h3 {
      color: $second-color;
    }
    p {
      color: $fourth-color;
    }
    footer {
      text-align: center;
      margin-top: 2.5em;
      margin-bottom: 2em;
    }
  }
}
small {
  margin-left: 1.1em;
}
a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
h6 {
  margin-bottom: 1.5em;
  margin-top: -.25em;
  color: $fourth-color;
}
.jumbotron {
  border-radius: none;
  margin: 0;
  margin-top: -.25em;
  background-color: $fourth-color;
  margin-bottom: 2em;
}
.jumbocon {
  padding: 0;
  width: 100%;
}
// @media only screen and (max-width : 1200px) {
//
// }
// @media only screen and (max-width : 992px) {
//
// }
// @media only screen and (max-width : 768px) {
//
// }
// @media only screen and (max-width : 480px) {
//
// }
// @media only screen and (max-width : 320px) {
//
// }
