/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
html {
  body {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    background-color: #f58120;
    color: #323a4a;
    padding-right: 0px;
    .navbar {
      background-color: #ffffff;
      border-bottom: none;
      margin-bottom: 0;
      .brand {
        height: 15px;
        img {
          height: 40px;
          margin-top: -.35em;
        }
      }
      .actionbar {
        margin-top: 0.45em;
        min-width: 97%;
        max-width: 97%;
      }
    }
    #fields {
      margin-top: 6em;
      #remember {
        font-size: 0.7em;
      }
      input {
        background-color: #ffffff;
        margin-bottom: 0.75em;
      }
      label {
        font-size: 2em;
      }
      h2 {
        font-size: 3em;
        color: #ffffff;
        margin-bottom: 0.5em;
      }
      .button {
        font-size: 1.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}
a:link,
a:active,
a:visited {
  font-size: 1.5em;
  color: #ffffff;
}
a:hover {
  color: #323a4a;
  text-decoration: none;
}
label {
  color: #ffffff;
  font-weight: normal;
}
